{:paths   ["src/cljr"]
 :deps    {
           medley/medley                   {:git/url "https://github.com/brandoncorrea/medley.git" :git/sha "d73c457a9b0352520c9538c908c54f6b4accc19b"}
           io.github.clojure/clr.data.json {:git/tag "v2.5.0" :git/sha "1c738a1"}
           }
 :aliases {:run  {:main-opts ["-m" "hello.main"]}
           :test {:extra-deps  {speclj/speclj {:git/url "https://github.com/brandoncorrea/speclj.git" :git/sha "91f1c428d9109975320bf0d0a7360db6391d7788"}}
                  :extra-paths ["spec/cljr"]}
           :spec {:main-opts ["-m" "speclj.main" "-c"]}}}
