{:paths   ["src/cljr"]
 :deps    {
           medley/medley                   {:git/url "https://github.com/brandoncorrea/medley.git" :git/sha "ebac1a471ae176d28b3f3888111bebbd5bfec918"}
           io.github.clojure/clr.data.json {:git/tag "v2.5.0" :git/sha "1c738a1"}
           }
 :aliases {:run  {:main-opts ["-m" "hello.main"]}
           :test {:extra-deps  {speclj/speclj {:git/url "https://github.com/brandoncorrea/speclj.git" :git/sha "326444ad13fdb9b40f524c5133f5decd81e4b70b"}}
                  :extra-paths ["spec/cljr"]}
           :spec {:main-opts ["-m" "speclj.main" "-c"]}}}
